{
  "extends": "airbnb",
  "globals": {
    "apiToken",
    "config",
    "describe",
    "it",
    "expect",
    "beforeEach"
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "id-length": 0,
    "jsx-quotes": [2, "prefer-single"],
    "no-extra-parens": 0,
    "radix": 0,
  }
}
