@import "reset.less";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

@backgroundPanelColor: #c3c3c3;
@inputColor: #EEE;

@gray: #e6e6e6;
@dark-gray: #646464;

body {
  font-family: 'Roboto', sans-serif;
}

/** Copied h1-h6 font-sizes from Chrome 51*/
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.00em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

hr {
    border-bottom: 1px solid #eee;
}

label {
  width: 15rem;
  display: inline-block;
}

form {
  display: table;
}

input, select {
  position: relative;
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid black;
  line-height: 19px;
  padding: 6px 10px 5px;
  width: 12rem;
  margin-bottom: 1rem;
  background-color: @inputColor;
}

table.staffing-view-table {
  border-spacing: 0;
  border: 1px solid @backgroundPanelColor;
  tr {
    th, td{
      // TODO: Get rid of !important
      padding: 0.4em !important;
      text-align: center;
      vertical-align: middle;
      border: 1px solid @backgroundPanelColor;
    }

    &:hover {
      background-color: inherit;
    }

    td.first-col, th.first-col {
      background-color: @gray
    }

    td {
      color: @backgroundPanelColor;
    }

    th.no-bottom-border {
      border-bottom: 0;
    }

    th.no-top-border {
      border-top: 0 !important;
    }

    th.half-height {
      height: 24px;
    }

    th.small-text {
      font-size: 9px;
    }

    td.bold {
      font-weight: bold;
    }

    td.medium-color {
      color: black;
    }
  }
}

.mdl-layout__content--horizontal-scroll {
  overflow-x: auto;
}

a {
  color: black;
}

li.project-list:hover {
  background-color: rgba(158,158,158,.2);
  cursor: pointer;
}
