@import "reset.less";

@backgroundColor: #f5f6f5;
@highlightColor: #59cbe8;
@labelSize: 14rem;
@rightMargin: 1.2rem;

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: museo-sans;
}

h1 {
  font-size: 3rem;
}

#app-main {
  width: 100%;
  height: 100%;
  position: absolute;
}

#staffing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: @backgroundColor;
}

// TIMELINE HEADER

.timeline-data-group-expanded {
  border-top: 3px solid @highlightColor;
  border-bottom: 3px solid @highlightColor;
}

.toolbar-toggle {
  padding: 1rem;
}

.staffing-header, .staffing-footer {
  display: flex;
}

#staffing-header-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: @labelSize;
}

#staffing-header-main {
  display: inline-block;
  flex: 1;
  margin-right: @rightMargin;
}

.staffing-header {
  border-bottom: 1px solid #ccc;
}

.staffing-footer {
  border-top: 1px solid #ccc;
  height: 10rem;
}

.staffing-title {
  text-align: center;
  display: none;
}

.timeline-header {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.timeline-header-months {
  display: flex;
  justify-content: left;
}

.timeline-header-month {
  text-align: left;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-right: 1px solid #ccc;
  font-size: 1.2rem;
}

.timeline-header-month:last-child {
  border-color: @backgroundColor;
}

.timeline-header-weeks {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}

.timeline-header-week {
  text-align: center;
  border-right: 1px solid #ccc;
}

.timeline-header-week:last-child {
  border-color: @backgroundColor;
}

.timeline-header-days {
  display: flex;
  justify-content: left;
}

.timeline-header-day {
  text-align: center;
  height: 0.6rem;
  flex: 1;
  border-right: 1px solid #ccc;
}

.timeline-header-day:last-child {
  border-color: @backgroundColor;
}

// TIMELINE SUMMARY

#staffing-summary {
  border-bottom: 1px solid #ccc;
  margin-right: @rightMargin;
}

.timeline-summary-row {
  display: flex;
  justify-content: left;
}

.timeline-summary-key {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: @labelSize;
  min-height: 100%;
}

.timeline-summary-label {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  width: @labelSize;
}

.timeline-summary-values {
  display: flex;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.timeline-summary-weeks {
  flex: 1 0 auto;
  display: flex;
  justify-content: left;
}

.timeline-summary-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
}

.timeline-summary-week {
  text-align: center;
}

// TIMELINE DATA

.timeline-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: overlay;
}

.timeline-data-rows {
  margin-right: @rightMargin;
}

.timeline-data-row {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.timeline-data-row:hover {
  box-shadow: inset 0 0 0.8rem @highlightColor;
}

.timeline-data-row:nth-child(even) {
  background-color: @backgroundColor;
}

.timeline-data-row:nth-child(odd) {
  background-color: #fff;
}

.timeline-data-key {
  display: flex;
  width: @labelSize;
  min-height: 100%;
}

.timeline-data-label {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  width: @labelSize;
}

.timeline-data-values {
  display: flex;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.timeline-data-value {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
}

.timeline-data-weeks {
  flex: 1 0 auto;
  display: flex;
  justify-content: left;
}

.timeline-data-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  border-right: 1px solid #ccc;
}

.timeline-data-week-selected {
  background-color: #ffc;
}

.timeline-data-week-staffing {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .timeline-data-week-staffing {
    display: none;
  }

  .timeline-data-days {
    border: 0;
  }

  .timeline-data-day {
    height: 2rem !important;
  }
}

.timeline-data-week:last-child {
  border-color: @backgroundColor;
}

.timeline-data-days {
  display: flex;
  justify-content: left;
  height: 0.6rem;
}

.timeline-data-day {
  text-align: center;
  flex: 1 0 auto;
  border-right: 1px solid #ccc;
}

.timeline-data-day:last-child {
  border-color: @backgroundColor;
}

// TIMELINE EVENTS

.timeline-data-day-event-staffed {
  background-color: #ccf;
}

.timeline-data-day-event-absent {
  background-color: #fcc;
}

.timeline-data-day-event-conflict {
  background-color: #f00;
}
