@import "reset.less";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

@errorColor: red;
@backgroundPanelColor: #c3c3c3;
@inputColor: #EEE;

@purple: #414cb7;
@gray: #9b9b9b;
@dark-gray: #646464;

body {
  font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 20px;
}

hr {
    border-bottom: 1px solid #eee;
}

div.icon-row {
    display: flex;
    flex-flow: row;
}

div.icon-row-icon {
    width: 34px;
}

div.vert-spacer {
    margin: 34px 0 34px 0;
}

hr.icon-margin {
    margin-left: 34px;
}

label {
  width: 15rem;
  display: inline-block;
}

form {
  display: table;
}

div.formContainer {
  background-color: @backgroundPanelColor;
  padding: 0.5rem 1rem;
}

div.form-group {
  display: table-cell;
}

div.form-row {
  display: table-row;
}

input, select {
  position: relative;
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid black;
  line-height: 19px;
  padding: 6px 10px 5px;
  width: 12rem;
  margin-bottom: 1rem;
  background-color: @inputColor;
}

div.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.errorMessage {
  input {
    border-color: @errorColor;
  }
}

.error {
  color: red;

}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  tr {

    th {
      background-color: #0088cc;
      padding: 0.5rem 1rem;
    }

    td {
      padding: 0.5rem 1rem;
      background-color: #6699cc;
    }


  }

}

div.detail-view {
    /*
    @media (min-width: 480px) {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    */
}

.main-color {
    color: @purple;
}

.gray {
    color: @gray;
}

.dark-gray {
    color: @dark-gray;
}

p.emergency-contact {
    font-size: 16px;
    margin-bottom: 8px;
}

img.profile-pic {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

div.center-text {
    text-align: center
}

div.pull-right {
    text-align: right;
}

div.employee-list-row {
    border-bottom: 1px solid #eee;
}

img.employee-list-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

div.employee-list-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#add-employee-button {
    align-self: flex-end;
    background-color: white;
    margin: 0;
    position: relative;
    top: 20px;
    right: 10px;
}
